<!DOCTYPE html>

<html>
	<head>
		<title>Magnus Armsen</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/linksStyle.css')}}"
		/>
		<link
			rel="icon"
			type="image/x-icon"
			href="{{ url_for('static', filename='img/icon.png')}}"
		/>
		<link
			href="{{ url_for('static', filename='css/all.min.css')}}"
			rel="stylesheet"
		/>
		<link rel='stylesheet' href="{{ url_for('static', filename='css/font-awesome-4.7.0/css/font-awesome.min.css')}}">
  </head>
	</head>

	<body>
		<div class="mainDiv">
			<div class="mainCard">
				<div class="profileCard">
					<div class="img">
						<img
							src="{{ url_for('static', filename='img/Abdelnasser.jpg')}}"
						/>
					</div>
					<div class="caption">
						<h3>Mohamed Abdelnasser</h3>
						<div class="links">
							<nav>
								<a
									href="https://www.linkedin.com/in/mohamed-y-abdelnasser/"
									class="fa fa-linkedin-in"
									target="_blank"
								></a>
								<a
									href="mailto:momadoo55555@gmail.com?Subject=Magnus%20Armsen"
									class="fa fa-envelope"
									target="_blank"
								></a>
								<a
									href="https://github.com/Momado55555"
									class="fa fa-github-alt"
									target="_blank"
								></a>
							</nav>
						</div>
					</div>
				</div>
				<div class="profileCard">
					<div class="img">
						<img
							src="{{ url_for('static', filename='img/Belal.jpeg')}}"
						/>
					</div>
					<div class="caption">
						<h3>Belal Sameh</h3>
						<div class="links">
							<nav>
								<a
									href="https://www.linkedin.com/in/belal-sameh-294220250/"
									class="fa fa-linkedin-in"
									target="_blank"
								></a>
								<a
									href="mailto:belalsameh188@gmail.com?Subject=Magnus%20Armsen"
									class="fa fa-envelope"
									target="_blank"
								></a>
								<a
									href="https://github.com/BelallSameh"
									class="fa fa-github-alt"
									target="_blank"
								></a>
							</nav>
						</div>
					</div>
				</div>
				<div class="profileCard">
					<div class="img">
						<img
							src="{{ url_for('static', filename='img/Raheem.jpeg')}}"
						/>
					</div>
					<div class="caption">
						<h3>Mohamed Elfeel</h3>
						<div class="links">
							<nav>
								<a
									href="https://www.linkedin.com/in/mohamed-elfeel-5907b425b/"
									class="fa fa-linkedin-in"
									target="_blank"
								></a>
								<a
									href="mailto:Mohamedelfeel62@gmail.com?Subject=Magnus%20Armsen"
									class="fa fa-envelope"
									target="_blank"
								></a>
								<a
									href="https://github.com/vdyy24"
									class="fa fa-github-alt"
									target="_blank"
								></a>
							</nav>
						</div>
					</div>
				</div>
				<div class="profileCard">
					<div class="img">
						<img
							src="{{ url_for('static', filename='img/Hazem.jpg')}}"
						/>
					</div>
					<div class="caption">
						<h3>Hazem Abdelghafar</h3>
						<div class="links">
							<nav>
								<a
									href="https://www.linkedin.com/in/hazem-metwalli"
									class="fa fa-linkedin-in"
									target="_blank"
								></a>
								<a
									href="mailto:Hazem.metwalli23@gmail.com?Subject=Magnus%20Armsen"
									class="fa fa-envelope"
									target="_blank"
								></a>
								<a
									href="https://github.com/HazemAbdelghafar"
									class="fa fa-github-alt"
									target="_blank"
								></a>
							</nav>
						</div>
					</div>
				</div>
				<div class="navMenu">
					<nav>
						<a href="/">Home</a>
						<a href="/play">Play</a>
						<a href="">Links</a>
					</nav>
				</div>
			</div>
		</div>
	</body>
</html>
